@charset "utf-8";

/* CSS Document */

/*■共通部分■*/

.w100per {
    width: 100%;
}

.w50per2 {
    width: 50%;
}

.w33per {
    width: 33.3%;
}

.w1k {
    max-width: 1024px;
}

.w800 {
    max-width: 800px;
}

.w600 {
    width: 600px;
}

.w300 {
    max-width: 300px;
}

.w100 {
    width: 120px;
}

.h100per {
    height: 100%;
}

.h1k {
    height: 1120px;
}

.h680 {
    height: 680px;
}

.h600 {
    height: 500px;
}

.h210 {
    height: 210px;
}

.h48 {
    height: 48px;
}

.h8 {
    height: 8px;
}

.block {
    display: block;
}


/*■パーツ■*/

header {
    min-height: 50px;
}

.menu > * {
    padding: 10px 10px 12px;

}

.ddmenu a {
    padding:  12px 0 12px 22px;
}


.sp_menu {
    display: none;
}

.sp_menu a,
.sp_menu li {
    width: 100%;
}

.logo {
    height: 26px;
    width:26px;
    margin:0px 8px 0 0px;
}

.t-center{padding:12px 0 12px 22px;}



/*■レスポンシブ■*/

@media screen and (max-width: 720px) {
    .pc_menu {
        display: none;
    }
    .sp_menu {
        display: block;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .w33per {
        min-width: 50%;
    }
}

@media screen and (max-width: 599px) {
    .w33per {
        min-width: 100%;
    }
}
