@charset "utf-8";

/* CSS Document */

/*■width■*/

.o-w100per {
    width: 100%;
}

.o-w50per {
    width: 50%;
}

.o-w33per {
    width: 33.3%;
}

.o-w1k {
    max-width: 1024px;
}

.o-w800 {
    max-width: 800px;
}

.o-w600 {
    width: 600px;
}

.o-w300 {
    max-width: 300px;
}

.o-w100 {
    width: 120px;
}

/*■height■*/

.o-h100per {
    height: 100%;
}

.o-h1k {
    height: 1120px;
}

.o-h680 {
    height: 680px;
}

.o-h600 {
    height: 600px;
}

.o-h210 {
    height: 210px;
}

.o-h48 {
    height: 48px;
}

.o-h8 {
    height: 8px;
}

/*■個別パーツ■*/

header {
    min-height: 50px;
    top: 0;
}

.o-link_h {
    height: 300px;
}

/*■レスポンシブ■*/

@media screen and (min-width: 700px) and (max-width: 900px) {
    .o-w33per {
        min-width: 50%;
    }
    .o-link_h {
        height: 280px;
    }
}

@media screen and (max-width: 699px) {
    .o-w33per {
        min-width: 100%;
    }
    .o-link_h {
        height: 280px;
    }
}
