@charset "utf-8";

/* CSS Document */

/*■本文■*/

body {
    background: #202125;
    color: #eeedeb;
    overflow-x: hidden;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    outline: none;
}

p {
    line-height: 1.6em;
}

span {
    display: inline-block;
}

a:hover {
    opacity: 0.6;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.u-font_sans {
    font-family: "Helvetica", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "游ゴシック Medium", YuGothic, YuGothicM, sans-serif;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

a img {
    border-style: none;
}

h1,
h2 {
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1.3em;
    padding-bottom: 24px;
}

.u-font_small {
    font-size: 70%;
    line-height: 1.5em;
}

.u-font_large {
    font-size: 2.9rem;
}

.u-font_bold {
    font-weight: 700;
}

/*■margin■*/

.u-m0a {
    margin: 0 auto;
}

.u-m8 {
    margin: 8px;
}

.u-m12 {
    margin: 12px;
}

.u-m16 {
    margin: 16px;
}

.u-m24 {
    margin: 24px;
}

.u-mt85 {
    margin-top: 85px;
}

.u-mt160 {
    margin-top: 160px;
}

.u-mt-48 {
    margin-top: -108px;
}

.u-mt-150 {
    margin-top: -150px;
}

.u-mb16 {
    margin-bottom: 16px;
}

.u-mb24 {
    margin-bottom: 24px;
}

.u-mb30 {
    margin-bottom: 30px;
}

.u-ml32 {
    margin-left: 32px;
}

.u-p16 {
    padding: 16px;
}

.u-pt0 {
    padding-top: 0;
}

.u-pt14 {
    padding-top: 14px;
}

.u-pt48 {
    padding-top: 48px;
}

.u-pt120 {
    padding-top: 120px;
}

.u-pt200 {
    padding-top: 200px;
}

.u-pt400 {
    padding-top: 400px;
}

.u-pb0 {
    padding-bottom: 0px;
}

.u-pb16 {
    padding-bottom: 16px;
}

.u-pb100 {
    padding-bottom: 100px;
}

.u-pb160 {
    padding-bottom: 160px;
}

.u-pb200 {
    padding-bottom: 200px;
}

.u-pb400 {
    padding-bottom: 400px;
}

.u-plr8 {
    padding: 0 8px;
}


/*■機能■*/

.u-over_hidden {
    overflow: hidden;
}

.u-block {
    display: block;
}

.u-sp_menu {
    display: none;
}

/*■色■*/

h1,
h2 {
    overflow: hidden;
}


h3 {
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    margin: 8px;
    font-size: 18px;
    height: 26px;
}

.u-sp_menu {
    background: rgba(0, 0, 0, 0.0);
}

.u-bg_black_trans {
    background: rgba(0, 0, 0, 0.7);
}


.u-menu a,
.u-ddmenu a {
    color: #eeedeb;
}

.u-bg_gray {
    background: #d5d4d2;
}

.u-color1 {
    background: #5396ff;
}

.u-color2 {
    background: #838383;
}

.u-color3 {
    background: #ffc107;
}

.u-color4 {
    background: #c9510c;
}

.u-font_white {
    color: #EEEDEB!important;

}

.u-font_gray {
    color: #18181B!important;
}

.u-tiltbg_white:before {
    background: #eeedeb;
}

.u-tiltbg_gray:before {
    background: #0c0d0c;
}

.u-tiltbg_navy:before {
    background: #0B0F2C;

}

.u-tiltbg_samurai:before {
    background-image: url(../img/samurai.jpg);
    background-position: center center;
    background-size: 1120px;
}

.u-tiltbg_katana:before {
    background-image: url(../img/katana.jpg);
    background-position: center 60px;
}

.u-tiltbg_society:before {
    background-image: url(../img/shibuya.jpg);
    background-position: center;
    background-size: 1920px;

}

.u-border_bottom {
    border-bottom: 2px solid #54576B;
}

.u-border_top {
    border-top: 1px solid #54576B;
}

.u-tech_info {
    font-size: 90%;
    padding: 16px 0px 2px 8px;
}

/*■個別調整■*/

.u-logo {
    height: 26px;
    width: 26px;
    margin: 0px 8px 0 0px;
}

.u-bg_cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.u-bg_position_center {
    background-position: center;
}

.u-iconize-square {
    text-align: center;
    padding: 6px 6px;
    border-radius: 4px;
    display: inline-block;
}

.u-iconize-round {
    text-align: center;
    padding: 6px 32px 5px;
    border-radius: 32px;
    display: inline-block;
}

.u-menu * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 80%;
}

.u-menu a {
    padding-right: 24px;
}

.u-ddmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 80%;
}

.u-nav-list {
    display: none;
}

.u-nav-toggle-btn {
    padding: 0;
    border: none;
    background: transparent;
    z-index: 100;
}

.u-nav-toggle-btn.open::before {
    content: url(/img/menu_icon_close.svg);
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
}

.u-nav-toggle-btn.close::before {
    content: url(/img/menu_icon.svg);
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
}

.u-nav-list a,
.u-ddmenu a {
    display: block;
    padding: 11px 20px 8px 20px;
}

.u-nav-list ul,
.u-ddmenu ul {
    display: none;
}

u-nav-list ul li a,
.u-ddmenu ul li a {
    padding: 13px;
    margin: 1px 0 1px;
}

.u-insight-label:hover{
    opacity: 0.6;
    transition-duration: 0.2s;
    cursor: pointer;
}

.insight-modal{
    display: none;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background: rgba(15,15,15,.6);
}

.u-insight-modal-body{
    margin: auto 0;
    position: relative;
    top: 50px;
    width: 90%;
    text-align: center;
}

.u-insight-list{
    list-style: decimal;
    list-style-position: inside;
    padding: 10px;
}

.u-insight-list-item{
    padding: 10px;
    border-bottom: 1px solid white;
}

.u-insight-modal-btn{
    padding: 10px;
    border: none;
}


.u-scrollbar {
    overflow-y: scroll;
}

.u-scrollbar::-webkit-scrollbar {
    width: 8px;
    position: absolute;
}

.u-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #666;
}

.u-tilt {
    position: relative;
    padding: 0;
    z-index: 10;
}

.u-tilt:before {
    content: '';
    position: absolute;
    left: 0;
    min-width: 400%;
    min-height: 110%;
    margin: 0 -150%;
    padding-bottom: 480px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: -1;
}

.u-tilt-14:before {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}

.u-z-10 {
    z-index: -10;
}

.u-menu > * {
    padding: 10px 10px 12px;
}

.u-ddmenu a {
    padding: 12px 12px 11px 12px;
}

.u-sp_menu a,
.u-sp_menu li {
    width: 100%;
}

tr:nth-child(1) th {
    background-color: #212552!important;
}

tr:nth-child(even) td {
    background: #151b35!important;
}

tr:nth-child(odd) td {
    background: #1f253f!important;
}

th,
td {
    padding: 8px!important;
    border-color: #0a0f2c!important;
}

/*■レスポンシブ■*/

@media screen and (max-width: 720px) {
    .u-sp_menu {
        display: block;
    }
    .u-pc_menu {
        display: none;
    }
}

@media screen and (max-width: 699px) {
    h1,
    h2,
    .u-font_large {
        margin-top: 64px;
    }
}

@media screen and (min-width:440px) and (max-width: 559px) {
    h1,
    h2,
    .u-font_large {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 439px) {
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    .u-font_large {
        font-size: 2rem;
    }
    .u-font_small {
        font-size: 0.9rem;
    }
}
