@charset "utf-8";

/* CSS Document */

/*■本文■*/

body {
    background: #FAFAFA;
    color: #18181a;
    overflow-x: hidden;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    outline: none;
    max-width: 1024px;
}

p {
    line-height: 2em;
}

.lh1_5 {
    line-height: 1.5em;
}

.font-sans {
    font-family: "Helvetica","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,"游ゴシック Medium",YuGothic,YuGothicM,sans-serif;
}

a:link,
a:visited {
    color: #007bff;
    text-decoration: none;
}

a img {
    border-style: none;
}

h1,
h2 {
    font-size: 2.4rem;
    padding-bottom: 18px;
    font-weight: 100;
    line-height: 1em;
}

.font-s2 {
    font-size: 70%;
    line-height:1.5em;
}

.font-l {
    font-size: 2.9rem;
}

.font-b {
    font-weight: 700;
}

/*■margin■*/

.m0a {
    margin: 0 auto;
}

.m8 {
    margin: 8px;
}

.m16 {
    margin: 16px;
}

.m24 {
    margin: 24px;
}
.mt85 {
    margin-top: 85px;
}

.mt160 {
    margin-top: 160px;
}

.mt-100 {
    margin-top: -100px;
}
.mt-400 {
    margin-top: -400px;
}
.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb32 {
    margin-bottom: 32px;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.pt14 {
    padding-top: 14px;
}

.pt120 {
    padding-top: 120px;
}

.pt200 {
    padding-top: 200px;
}

.pt400 {
    padding-top: 400px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb100 {
    padding-bottom: 100px;
}

.pb160 {
    padding-bottom: 160px;
}

.pb200 {
    padding-bottom: 200px;
}

.pb400 {
    padding-bottom: 400px;
}

.plr8 {
    padding: 0 8px;
}

/*■grid gap■*/

/*■機能■*/

.menu * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 80%;
}

.menu a {
    padding-right: 24px;
}

.ddmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 80%;
}

ul.ddmenu a {
    display: block;
    padding:11px 20px 7px 22px;
}

ul.ddmenu ul {
    display: none;
}

ul.ddmenu ul li a {
    padding: 13px;
    margin: 1px 0 1px;
}

.pc_menu ul.ddmenu ul li a {
    background: rgba(0, 0, 0, 0.5);
}

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    position: absolute;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #666;
}

span {
    display: inline-block;
}

.over_hidden {
    overflow: hidden;
}

/*■色■*/

.theme_dark {
    background: #202125;
    color: #eeedeb;
}

h1,
h2 {
    overflow: hidden;
}


h3 {
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    margin: 8px;
    font-size:18px;
    height:26px;
}

header {
    background: rgba(0, 0, 0, 0.5);
}


.menu a,
.ddmenu a {
    color: #eeedeb;
}

.bg_gray {
    background: #d5d4d2;
}

.color1 {
    background: #5396ff;
}

.color2 {
    background: #838383;
}

.color4 {
    background: #c9510c;
}

.font_white {
    color: #EEEDEB!important;

}

.font_gray {
    color: #18181B!important;
}

.tiltbg_white:before {
    background: #eeedeb;
}

.tiltbg_gray:before {
    background: #0c0d0c;
}

.tiltbg_navy:before {
    background: #0B0F2C;

}

.tiltbg_katana:before {
    background-image: url(../img/katana2.jpg);
    background-position: center 70px; 
}

.tiltbg_society:before {
    background-image: url(../img/shibuya.jpg);
    background-position: center; 
    margin-top:-400px;
}

.border_b {
    border-bottom: 2px solid #54576B;
}

.border_t {
    border-top: 1px solid #54576B;
}

.t-name{
    font-weight:bold;
    font-size:83%;
    padding: 16px 0px 2px 8px;
}
.t-val{
    font-size:83%;
    padding: 16px 0px 2px 8px;
}

tr:nth-child(1) th {
    background-color: #212552!important;
}

tr:nth-child(even) td {
    background: #151b35!important;
}

tr:nth-child(odd) td {
    background: #1f253f!important;
}

th,
td {
    padding: 8px!important;
    border-color: #0a0f2c!important;
}

/*■個別調整■*/

.bg_cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_p_center {
    background-position: center;
}

.tag {
    display: block;
    text-align: center;
    min-height: 80px;
    padding: 16px;
}

.iconize-square {
    text-align: center;
    padding: 6px 6px;
    border-radius: 4px;
    display: inline-block;
}

.iconize-round {
    text-align: center;
    padding: 4px 16px 6px;
    border-radius: 32px;
    display: inline-block;
}

.iconize-round2 {
    text-align: center;
    padding: 6px 32px 5px;
    border-radius: 32px;
    display: inline-block;
}

a:hover {
    opacity: 0.6;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.tilt {
    position: relative;
    margin-top: -150px;
    padding: 0;
    z-index: 10;
}

.tilt:before {
    content: '';
    position: absolute;
    left: 0;
    min-width: 320%;
    min-height: 100%;
    margin: 0 -110%;
    padding-bottom: 480px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: -1;
}

.tilt:before {
    content: '';
    position: absolute;
    left: 0;
    min-width: 320%;
    min-height: 100%;
    margin: 0 -110%;
    padding-bottom: 480px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: -1;
}

.tilt-14:before {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}

.symbol-img{
    min-width:150px;
    width:35vw;
}
.key-message{
    font-size: calc(15px + 2.2vw);
    line-height:160%;
}

.sec-title{
    font-size: calc(16px + 1.8vw);
}

.sec-description{
    font-size: calc(10px + 1vw);
}

.top0 {
    top: 0;
}

.z-10 {
    z-index: -10;
}
.footer{
    padding-bottom: 220px;
    margin-bottom: -1280px;
}